
block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -pageID       = ''
  -path         = ''

doctype html
include ../_mixins/all
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0", id="viewport")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    link(rel="stylesheet", href=`${path}/css/${pageID.replace(/-/gi,'_')}.css`)
  body
    .container
      include ../_parts/header
      main
        block container
      include ../_parts/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.1.0/swiper-bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script(src=path+"/js/main.js")
