footer
  .wrapper
    .footer-swiper.js-slider
      .swiper-wrapper
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_01.jpg' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_01.jpg' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_02.jpg' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_02.jpg' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_03.jpg' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_03.jpg' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_04.JPG' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_04.JPG' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_05.jpg' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_05.jpg' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_06.JPG' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_06.JPG' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_07.jpg' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_07.jpg' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_08.jpg' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_08.jpg' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
        .swiper-slide
          img.md(src=path+'/img/common/img_slider_09.jpg' width='368' height='232' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
          img.sm(src=path+'/img/common/sp/img_slider_09.jpg' width='736' height='464' alt='京友株式会社 KEIYU Co.,Ltd.' loading='eager')
    .footer-inner
      a.footer-logo.trans(href='#')
        img.image-common(src=path+'/img/common/footer_logo.svg' width='400' height='82' alt='京友株式会社 KEIYU Co.,Ltd.' loading='lazy')
      address.footer-address 本社／〒231-0023 神奈川県横浜市中区山下町107-7
    .footer-contact
      .contact-group
        span TEL
        a.contact-link(href='tel:045-662-7401') 045-662-7401
      .contact-group.secondary
        span FAX
        span.contact-link.text-small 045-651-3841
      .contact-group.tertiary
        span MAIL
        a.contact-link.text-small.is-email(href='mailto:info@ku-net.jp') info@ku-net.jp
    small ©KEIYU CO.,LTD. All rights reserved.